[submodule "tailwind-template"]
	path = tailwind-template
	url = https://github.com/cruip/tailwind-landing-page-template.git
[submodule "tailwind-dashboard"]
	path = tailwind-dashboard
	url = https://github.com/cruip/tailwind-dashboard-template.git
[submodule "apipark"]
	path = apipark
	url = https://github.com/APIParkLab/APIPark.git
